<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">NPR News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/saved">Saved Articles</a>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <h1 class="display-4">NPR News Headlines</h1>
    <p class="lead">Breaking News From NPR</p>
</div>

<div class="container article-container">
    <h3>Articles</h3>
    {{#each articles}}
    <div class="card bg-light mb-3">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <a href="{{link}}" class="card-link" target="_blank">Go To NPR Article</a>
            <p class="card-text">{{intro}}...</p>
            <a data-articleId="{{_id}}" class="btn btn-success save-btn">Save article</a>
        </div>
    </div>
    {{/each}}
</div>